{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>
    <section id="video-streams"></section>

    <section id="controls-wrapper">

        <div id="icon-wrapper">
            <img id="mic-btn" class="control-icon" alt="mic button" src="{% static 'images/microphone.svg' %}">
        </div>
    
        <div id="icon-wrapper">
            <img id="camera-btn" class="control-icon" alt="camera button" src="{% static 'images/video.svg' %}">
        </div>
    
        <div id="icon-wrapper">
            <img id="leave-btn" class="control-icon" alt="leave button" src="{% static 'images/leave.svg' %}">
        </div>
    
    </section>
</main>

<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.20.2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>

{% endblock %}